[access]
	inheritFrom = Private-Projects
[submit]
[project]
	description = Multi-Sensor Fusion SLAM Base on A-LOAM.
[access "refs/*"]
	owner = group user/kekliu (kekliu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kekliu (kekliu)
	label-Verified = -1..+1 group user/kekliu (kekliu)
	push = group user/kekliu (kekliu)
	read = group user/kekliu (kekliu)
	rebase = group user/kekliu (kekliu)
	removeReviewer = group user/kekliu (kekliu)
	submit = group user/kekliu (kekliu)
[access "refs/heads/*"]
	create = group user/kekliu (kekliu)
	push = +force group user/kekliu (kekliu)
	pushMerge = group user/kekliu (kekliu)
	read = group user/kekliu (kekliu)
[access "refs/tags/*"]
	push = group user/kekliu (kekliu)
	push = +force group user/kekliu (kekliu)
